<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801938524335-ianspucrv7m23444jc4fkdudeahqrj2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801938524335-ianspucrv7m23444jc4fkdudeahqrj2c</string>
	<key>API_KEY</key>
	<string>AIzaSyA5A_pwUob2x1epzlbHt11y120A5Q_XxQk</string>
	<key>GCM_SENDER_ID</key>
	<string>801938524335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.franzi.werewolf</string>
	<key>PROJECT_ID</key>
	<string>werewolf-45823</string>
	<key>STORAGE_BUCKET</key>
	<string>werewolf-45823.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801938524335:ios:c1f1231ed2fc5ecf7cac5a</string>
	<key>DATABASE_URL</key>
	<string>https://werewolf-45823.firebaseio.com</string>
</dict>
</plist>